@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth !important;
}

body {
  background-color: #f3f3f3;
  white-space: pre-wrap;
  font-size: 16px;
}

.font-main-black {
  color: #181717;
}

.font-main-gray {
  color: #606060;
}

.bg-main-gray {
  background-color: #606060;
}

.bg-main-black {
  background-color: #181717;
}

.font-main-white {
  color: #f3f3f3;
}

.font-secondary-blue {
  color: #2429af;
}

.backdrop-filter-blur {
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

ol {
  list-style: decimal;
  padding-left: 2rem;
}

details summary::-webkit-details-marker {
  display: none;
}
